@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	@apply bg-neutral-100;
}
*::-webkit-scrollbar {
	display: none;
}
a {
	@apply hover:underline hover:opacity-100 opacity-75;
}
.drag-none,
.no-drag {
	-webkit-user-drag: none;
}
.bg-yellow {
	background-color: #ffb800;
}
@media (max-width: 600px) {
	.hideon-phone {
		display: none;
	}
	.hideon-phone {
		display: none;
	}
}
@media (min-width: 601px) and (max-width: 900px) {
	.hideon-ipad {
		display: none;
	}
}
label {
	user-select: none;
}
button {
	user-select: none;
}
* {
	outline: #ffb100;
}
