@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	@apply bg-neutral-100;
}
*::-webkit-scrollbar {
	display: none;
}
a {
	@apply hover:underline hover:opacity-100 opacity-75;
}
.drag-none,
.no-drag {
	-webkit-user-drag: none;
}
.bg-yellow {
	background-color: #ffb800;
}
@media (max-width: 600px) {
	.hideon-phone {
		display: none;
	}
	.show-phone {
		display: block;
	}
	.justify-center-phone {
		justify-items: center !important;
	}
	.items-center-phone {
		align-items: center !important;
	}
	.mobile-6xl {
		@apply text-4xl;
	}
	.mobile-5xl {
		@apply text-3xl;
	}
	.mobile-4xl {
		@apply text-2xl;
	}
	.mobile-3xl {
		@apply text-xl;
	}
	.mobile-2xl {
		@apply text-xl;
	}
	.max-w-phone {
		@apply w-full rounded-sm pl-1 pr-1 ml-3 mr-3;
		width: 100% !important;
	}
	.mobile-xl {
		@apply text-lg;
	}
	.mobile-p-2 {
		@apply w-full rounded-none;
	}
	.mobile-p-2-b {
		@apply w-full;
	}
	.mobile-p-2-3 {	
		@apply w-full max-w-full;
	}
}
@media (max-width: 440px) {
	.hide-phone2 {
		display: none;
	}
	.show-phone2 {
		display: block;
	}
}
@media (max-width: 740px) {
	.hide-phone3 {
		display: none;
	}
}
@media (min-width: 601px) and (max-width: 920px) {
	.hideon-ipad {
		display: none;
	}
	.show-ipad {
		display: block;
	}
	.ipad-p-2 {
		@apply w-full;
	}
}
label {
	user-select: none;
}
button {
	user-select: none;
}
* {
	outline: #ffb100;
}
select option {
	@apply font-semibold rounded-sm;
	height: 10px !important;
}
a:hover {
	@apply ease-in transition-all duration-200 no-underline hover:underline;
}
br {
	@apply select-none;
}
@media (max-width: 1400px) {
	.hide-home-bars {
		display: none;
	}
}
@media (max-width: 1650px) {
	.hide-home-bars-3 {
		display: none;
	}
	.max-w-custom {
		@apply max-w-[1100px];
	}
}
@media (max-width: 1000px) {
	.hide-home-bars2 {
		display: none;
	}
	.hide-home-bars2-w {
		width: 80px !important;
	}
	.full-home {
		@apply w-full;
	}
}
@media (max-width: 1200px) {
	.hide-home-bars3 {
		display: none;
	}
}
@media (min-width: 1000px) {
	.image-prev-pc {
		@apply max-w-screen-sm;
	}
}
.hoverBackground {
	color: var(--text-color);
	transition: background 0.3s;
}

.hoverBackground:hover {
	background: var(--secondary-color);
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	cursor: pointer;
}